<!DOCTYPE html>
<html>

<head>
  <title>Editing</title>
</head>

<body>
  <h1>Editing the recipe</h1>
  <form action="/edit_recipe/{{ recipe.id }}" method="post">
    <p>
      Title: <br />
      <textarea name="title" rows="1" cols="20">{{ recipe.title }}</textarea>
      <br />
      Recipe:<br />
      <textarea name="content" rows="5" cols="40">{{ recipe.content }}</textarea>
    </p>
      {% for class in classes%}
        <input type="checkbox" name={{class.title}} value={{class.title}}>
        <label for={{class.title}}>{{class.title }}</label><br>
      {% endfor %}
    <input type="submit" value="Lähetä" />
  </form>
</body>

</html>