<!DOCTYPE html>
<html>

<head>
  <title>Editing</title>
</head>

<body>
  <h1>Editing the recipe</h1>
  <form action="/edit_recipe/{{ recipe.id }}" method="post">
    <p>
      Title: <br />
      <textarea name="title" rows="1" cols="20" maxlength="100" required>{{ recipe.title }}</textarea>
      <br />
      Recipe:<br />
      <textarea name="content" rows="5" cols="40" maxlength="5000" required>{{ recipe.content}}</textarea>
    </p>
      {% for class in classes%}
        <input type="checkbox" name={{class.title}} value={{class.title}}>
        <label for={{class.title}}>{{class.title }}</label><br>
      {% endfor %}
    <input type="hidden" name="csrf_token" value={{session.csrf_token}} />
    <input type="submit" value="Lähetä" />
  </form>
  <hr />
    <p>
    <a href="/">Front page</a>
    </p>
</body>

</html>