<!DOCTYPE html>
<html>

<head>
  <title>Recipes</title>
</head>

<body>
  <h1>Recipes</h1>

  <p>
    <a href="/search">Search</a> |
    {% if session.user_id %}
    <a href="/logout">Log out</a> |
    <a href="/user/{{ session.user_id }}">Profile page</a>

    {% else %}
    <a href="/register">Create an account</a> |
    <a href="/login">Log in</a>
    {% endif %}
  </p>
  {% if session.user_id %}
    you are logged in as <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  {% endif %}
  <hr />
  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  <hr />
  {% endfor %}
  {% for recipe in recipes %}
  <p>
    <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
    <br />
      made by <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>,
    {% if recipe.avg_rating is not none %}
      average rating: {{ recipe.avg_rating }}
    {% else %}
      has not been reviewed yet
    {% endif %}
    {% if session.user_id == recipe.user_id %}
    | <a href="/edit_recipe/{{ recipe.id }}">Edit</a>
    | <a href="/remove_recipe/{{ recipe.id }}">Delete</a>
    {% endif %}
  </p>
  <hr />
  {% endfor %}

  <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  <hr />

  {% if session.user_id %}
  <h2>A new recipe</h2>

  <form action="/new_recipe" method="post">
    <p>
      Title: <br />
      <input type="text" name="title" maxlength="100" required/>
    </p>
    <p>
      Recipe: <br />
      <textarea name="content" rows="5" cols="40" maxlength="5000" required></textarea>
    </p>
      {% for class in classes%}
        <input type="checkbox" name={{class.title}} value={{class.title}}>
        <label for={{class.title}}>{{class.title }}</label><br>
      {% endfor %}
    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}

  

</body>

</html>