<!DOCTYPE html>
<html>

<head>
  <title>Log in</title>
</head>

<body>
  <h1>Log in</h1>

  <form action="/login" method="post">
    <p>
      <label for="username">username</label>:<br />
      <input type="text" name="username" id ="username" value="{{ filled.username }}" maxlength="16" />
    </p>
    <p>
      <label for="password">password</label>:<br />
      <input type="password" name="password" id="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
    {% if next_page %}
      <input type="hidden" name="next_page" value="{{ next_page }}" />
    {% else %}
      <input type="hidden" name="next_page" value="/" />
    {% endif %}
  </form>
  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}
  <hr />
    <p>
    <a href="/">Front page</a>
    </p>
</body>

</html>