<!DOCTYPE html>
<html>

<head>
    <title>{{ recipe.title }}</title>
</head>
    <h1>{{ recipe.title }} </h1>
    {% if session.user_id == recipe.user_id %}
    | <a href="/edit_recipe/{{ recipe.id }}">Edit</a>
    | <a href="/remove_recipe/{{ recipe.id }}">Delete</a>
    {% endif %}
    </p>
      made by <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>,
      {% if recipe.avg_rating is not none %}
        average rating: {{ recipe.avg_rating }}
      {% else %}
        has not been reviewed yet
      {% endif %}
    <p>
    <hr />
    <h3>Classifications</h3>
    <ul>
    {% for class in classes %}
    <li>
    | <a href="/search?query=&{{class.title}}={{class.title}}">{{ class.title }}</a>      
    </li>
    {%endfor%}
   </ul>
   <hr />
    <p>{{recipe.content}}</p>
    <hr />

  <h2> Reviews</h2>

  {% for review in ratings %}
  <p>
    {{ review.username }}: {{ review.rating}}/10
    {% if session.user_id == review.user_id %}
    | <a href="/edit_rating/{{ review.id }}">Edit</a>
    | <a href="/remove_rating/{{ review.id }}">Delete</a>
    {% endif %}
  </p>
  <p>
    {{ review.content }}
  </p>

  <hr />
  {% endfor %}

  {% if session.user_id %}

  <h2>Leave a review</h2>

  <form action="/new_rating" method="post">
    <p>
      Review:<br />
      <textarea name="content" rows="5" cols="40" maxlength="5000" required></textarea>
    </p>
    <p>Review the recipe 1-10 (10 being the best):</p>

    <select name = "dropdown">

    <option value = "1">1</option>

    <option value = "2">2</option>

    <option value = "3">3</option>

    <option value = "4">4</option>

    <option value = "5">5</option>

    <option value = "6">6</option>

    <option value = "7">7</option>

    <option value = "8">8</option>

    <option value = "9">9</option>

    <option value = "10">10</option>
    </select>
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
    <input type="hidden" name="csrf_token" value={{session.csrf_token}} />
    <input type="submit" value="Lähetä" />
  </form>
  <hr />
  {% else %}
    <p> 
      If you want to leave a review, for this recipe <a href="/login">login</a> or <a href="/register"> register</a>
    </p>
  {% endif %}

    <p>
    <a href="/">Front page</a>
    </p>