{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <div class="auth-container">
    <h1>Create an account</h1>

    {% if get_flashed_messages() | length > 0 %}
      <div class="info_messages">
        {% for message in get_flashed_messages() %}
          <p><b>{{ message }}</b></p>
        {% endfor %}
      </div>
    {% endif %}

    <form class="auth-form" action="/register" method="post" autocomplete="on">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" value="{{ filled.username }}" maxlength="16" required />

      <label for="password1">Password</label>
      <input type="password" name="password1" id="password1" required />

      <label for="password2">Repeat password</label>
      <input type="password" name="password2" id="password2" required />

      <input class="btn" type="submit" value="Register" />
    </form>

    <div class="auth-help">
      <p>
        <a href="/">Back to front page</a> | <a href="/login">Log in</a>
      </p>
    </div>
  </div>
{% endblock %}