{% extends "layout.html" %}

{% block title %}Remove the rating{% endblock %}

{% block content %}
  <div class="confirm-container">
    <h1>Remove the rating</h1>

    {% if get_flashed_messages() | length > 0 %}
      <div class="info_messages">
        {% for message in get_flashed_messages() %}
          <p><b>{{ message }}</b></p>
        {% endfor %}
      </div>
    {% endif %}

    <form class="confirm-form" action="/remove_rating/{{ rating.id }}" method="post">
      <p>
        Are you sure you want to remove the rating "{{ rating.content | show_lines}}"?
      </p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

      <div class="confirm-actions">
        <input class="btn btn-danger" type="submit" name="continue" value="Continue" />
        <input class="btn btn-secondary" type="submit" name="cancel" value="Back" />
      </div>
    </form>
  </div>
{% endblock %}