<!DOCTYPE html>
<html>

<head>
  <title>Search</title>
</head>

<body>
  <h1>Search</h1>
  <form action="/search" method="get">
    <p>
      Query:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
      {% for class in all_classes%}
        {% if class.title in classes%}
        <input type="checkbox" name={{class.title}} value={{class.title}} checked>
        <label for={{class.title}}>{{class.title }}</label><br>
        {% else %}
        <input type="checkbox" name={{class.title}} value={{class.title}}>
        <label for={{class.title}}>{{class.title }}</label><br>
        {% endif %}
      {% endfor %}
    <input type="submit" value="Hae" />
  </form>

  {% if results %}
  <hr />
  <h2>Results</h2>
  
  <ul>
  {% for result in results %}
    <li>
      <a href="/recipe/{{ result.id }}">
        {{ result.title }}
      </a>
      <br />
            made by <a href="/user/{{ result.user_id }}">{{ result.username }}</a>,
    {% if result.avg_rating is not none %}
        average rating: {{ result.avg_rating }}
    {% else %}
        has not been reviewed yet
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  {% endif %}
  <hr />
    <p>
    <a href="/">Front page</a>
    </p>
</body>