
<!DOCTYPE html>
<html>

<head>
  <title>User {{ user.username }}</title>
</head>

<body>
  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}
  <h1>User {{ user.username }}</h1>

  {% if user.has_image %}
  <img src="/image/{{ user.id }}" alt="User's {{ user.username }} profile picture" />
  {% endif %}

  {% if user.id == session.user_id %}
  <p>
    <a href="/add_image">Upload a profile picture</a>
  </p>
  {% endif %}
  <p>
    {% if recipes is not none %}
    User has created a total of {{ recipe_count }} different recipes
    {% else %}
    User has not yet published a recipe
    {%endif%}

  </p>

  <h2>Recipes</h2>

  <ul>
  {% for recipe in recipes %}
    <li>
      <a href="/recipe/{{ recipe.id }}">
        {{ recipe.title }}
      </a>
      {% if recipe.avg_rating is not none %}
        average rating: {{ recipe.avg_rating }}
      {% else %}
        has not been reviewed yet
      {% endif %}
      <br />
    </li>  
  {% endfor %}
  </ul>
  <p>
    <a href="/user/{{user.id}}/{{ page - 1 }}">&lt;&lt;</a>
    page {{ page }}/{{ page_count }}
    <a href="/user/{{user.id}}/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  <hr />
    <p>
    <a href="/">Front page</a>
    </p>
</body>

</html>